extends layout

block content
  - var numbers = ["1", "2", "3", "4", "5", "6", "7", "8", "9", "10"]
  - var eventType = ["Single", "Recurring"]
  table
    tr
      td Event Name
      td
        input(type="text", placeholder="Event name", value=name)#name
    tr
      td Priority
      td
        select#priority
          each value, i in numbers
            if priority == i
              option(value=i, selected) #{i}
            else
              option(value=i) #{i}
    tr
      td Description
      td 
        textarea(id='description', rows='7', cols='70')

    // Eventtype logic
    // If "event" then it has a set start and stop point (ie. class)
    // If "task" then it might have a set duration and a set stop point
    // If "recurring" then it will occur according to the interval
    //    Daily or weekly to start out
    tr
      td Event Type
      //td
        select#eventType
          each value, i in eventType
            option(value=value) #{value}

    tr
      td Due Date
      td
        input(id="dueDate", type="text")

    tr 
      td Expected Duration
      td 
        input(id="durHours", maxLength='3', size='7', placeholder="hours", type="text")
        input(id="durMins", maxLength='2', size='7', placeholder="minutes", type="text")


    tr
      td 
        input(type="button", value="submit")#submit

  div(class='dialog' id='success') Successfully Added
