extends layout

block content
  - var numbers = ["0", "1", "2", "3", "4", "5", "6", "7", "8", "9"]
  - var eventType = ["Single", "Recurring"]
  table
    tr
      td Event Name
      td
        input(type="text", placeholder="Event name", value=name)#name
    tr
      td Priority
      td
        select#priority
          // look to see if I can do i in range
          each value, i in numbers
            if priority == i
              option(value=i, selected) #{i}
            else
              option(value=i) #{i}
    tr
      td Description
      td 
        textarea(id='description', rows='7', cols='70')

    tr
      td 
        input(type="button", value="submit")#submit

  div(class='dialog' id='success') Successfully Added
