extends layout

block content
  //table(class='dayCalendarTable' id='dayTimeLabel')
    - for(var i=0; i<18*4; i++)
      tr
        if (i%4 ==0)
          td(rowspan='4') #{i/4+6}H
          td(class='borderTime') :00
        if (i%4 == 1)
          td :15
        if (i%4 == 2)
          td :30
        if (i%4 == 3)
          td :45

  // May not be necessary or even useful
  //table(class='dayCalendarTable' id='dayEvents')
    - for(var i=0; i<18*4; i++)
      tr
        if (i%4 ==0)
          td(class='hourStart')
        else
          td
  - var minutes = 60
  - var hours = 24

  ul(id='dayLayoutSetImplicit' class="dayLayoutSet")
    li
      table
        tr
          td Tag : 
          td &nbsp 
            input(type="text")
          td &nbsp Min Time Spent :
            &nbsp 
            input(type="text")
          td &nbsp Max Time Spent :
            &nbsp 
            input(type="text")
          td +

  // Table Layout Setter
  ul(id='dayLayoutSetExplicit' class="dayLayoutSet")
    li(class='addNewTimes')
      table 
        tr
          td From  
          td
            select(class="timepicker", id="starthour")
            - for(var i=0; i<hours; i++)
              option(value=i) #{i}
            span :
            select(class="timepicker", id="startminute")
            - for(var i=0; i<minutes; i++)
              if(i<10)
                option(value=i) 0#{i}
              else
                option(value=i) #{i}
          td To
          td
            select(class="timepicker", id="starthour")
            - for(var i=0; i<hours; i++)
              option(value=i) #{i}
            span :
            select(class="timepicker", id="startminute")
            - for(var i=0; i<minutes; i++)
              if(i<10)
                option(value=i) 0#{i}
              else
                option(value=i) #{i}

