extends layout

block content
  a(href="#" class="fa fa-tags fa-3x sideIcon")
  div(class="search" id="nameSearch")
    input(placeholder="Search by Name")
  a(href="#" class="fa fa-search fa-3x sideIcon")
  div(class="search" id="tagSearch")
    input(placeholder="Search by Tags")
  a(href="#" class="fa fa-bolt fa-3x sideIcon")
  a(href="#" id="eventViews" class="fa fa-eye fa-3x sideIcon")
  div(id="viewHolder")
    span
      if (viewType == 'flat')
        span(href="#" class="fa fa-align-justify fa-2x viewIcon clicked" data-type='flat')
        span(href="#" class="fa fa-indent fa-2x viewIcon" data-type='hierarchical')
      else
        span(href="#" class="fa fa-align-justify fa-2x viewIcon" data-type='flat')
        span(href="#" class="fa fa-indent fa-2x viewIcon clicked" data-type='hierarchical')

  ul
    for event in events
      div(class="eventWrapper")
        table(class="eventMetrics")
          tr
            td(style="font-weight:bold") Time Spent = 
            td(id="timeSpent")
        li(class=(event['isRunning'] == true ? "event running" : "event"), data-id=event['id'])
          if (event['isRunning'])
            span(class="fa fa-bolt")
          span.name #{event['name']}
          if (event['priority'] > 0)
            span.priority #{event['priority']}
          span(class="metrics fa fa-line-chart")
          span.description.eventHide #{event['description']}
          span.eventTags.eventHide 
            if (event['tag'])
              span(class='fa fa-tag tagSpan') &nbsp #{event['tag']}
          span.eventButtons.eventHide
            if (event['completedOn'] == null)
              span(class="updateEvent fa fa-edit")
              if (event['isRunning'])
                span(class="startEvent fa fa-play disabledButton")
                span(class="pauseEvent fa fa-pause")
              else
                span(class="startEvent fa fa-play")
                span(class="pauseEvent fa fa-pause disabledButton")
              span(class="completeEvent fa fa-check")
            else
              span(class="unCompleteEvent fa fa-undo")
            span(class="deleteEvent fa fa-trash")

  div(id="fixedContent")
    div(id="todayMetrics")
      h3 Today's Breakdown
      table(id="todayMetricsTable")
