extends layout

block content
  a(href="#" class="fa fa-tags fa-3x sideIcon")
  div(class="search" id="nameSearch")
    input(placeholder="Search by Name")
  a(href="#" class="fa fa-search fa-3x sideIcon")
  div(class="search" id="tagSearch")
    input(placeholder="Search by Tags")
  a(href="#" class="fa fa-bolt fa-3x sideIcon")
  ul
    li(class="event createEvent") 
      span Add Event
      span.priority +
    for event in events
      div(class="eventWrapper")
        table(class="eventMetrics")
          tr
            td(style="font-weight:bold") Time Spent = 
            td(id="timeSpent")
        li(class=(event['isRunning'] == true ? "event running" : "event"), data-id=event['id'])
          if (event['isRunning'])
            span(class="fa fa-bolt")
          span.name #{event['name']}
          span.priority #{event['priority']}
          span(class="metrics fa fa-line-chart")
          span.description.eventHide #{event['description']}
          span.eventTags.eventHide 
            //span(style="font-weight:bold") Tags: 
            if (event['tags'].length != 0)
              for tag in event['tags']
                span(class='fa fa-tag tagSpan') &nbsp #{tag}
                br
          span.eventButtons.eventHide
            span(class="updateEvent fa fa-edit")
            if (event['isRunning'])
              span(class="startEvent fa fa-play disabledButton")
              span(class="pauseEvent fa fa-pause")
            else
              span(class="startEvent fa fa-play")
              span(class="pauseEvent fa fa-pause disabledButton")
            span(class="completeEvent fa fa-check")
            span(class="deleteEvent fa fa-trash")
  div(id="fixedContent")
    div(id="todayMetrics")
      ul
        for event in events
          if (event['eventType'] == 'activity')
            li #{event['name']}
          //if (event['tags'].length != 0)
            //li #{event['tags']}
